{{- define "header" -}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    {{- if eq .Data.PageName "/" }} {{- .L.T "global.siteName" -}}
    {{- else if eq .Data.PageName "glossary" }}{{- .L.T "public.glossaryTitle" -}}
    {{- else if eq .Data.PageName "search" }}{{- .L.Ts "public.searchTitle" "query" .Data.Query.Query -}}
    {{- else if ne .Data.Title "" }}{{ .Data.Title }}
    {{- else }}{{ block "title" . }}{{end}}
    {{- end -}}
  </title>
  <meta name="description" value="
    {{- if eq .Data.PageName "/" }}Dictionary website
    {{- else if eq .Data.PageName "glossary" }}Glossary of words.
    {{- else if eq .Data.PageName "search" }}{{ .Data.Query.Query }} meaning.
    {{- else if ne .Data.Description "" }}{{ .Data.Description }}
    {{- else }}{{ block "description" . }}{{end}}
    {{- end -}}" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />
  <link href="/static/flexit.css" rel="stylesheet" type="text/css" />
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="{{ if eq .Data.PageName "/"}}home{{ end }}">
  <div class="container wrap box">
    <header class="header">
      <div class="row">
        <div class="logo four columns">
          <a href="/"><img src="/static/logo.svg" alt="Dictionary logo" /></a>
          <h3 class="intro">
            {{- .L.T "public.subTitle" -}}
          </h3>
        </div><!-- logo col -->

        <div class="search eight columns">
          <div class="tabs">
            <a href="#" class="tab">
              {{ .L.T "lang.from" }} - {{ .L.T "lang.to" }}
            </a>
          </div>
          <form class="search-form" method="get" action="/dictionary/malayalam/*">
            <div>
              <input autofocus autocomplete="off" required placeholder=""
                type="text" id="q" name="q" value="{{ if .Data.Query }}{{ .Data.Query.Query }}{{ end }}" />
              <button type="submit"><img src="/static/search.svg" alt="{{- .L.T "public.btnSearch" -}}" /></button>
            </div>
          </form>
        </div>
      </div>
    </header>
{{ end}}

{{ define "footer" }}
    <nav class="nav">
      {{ if .Consts.EnableSubmissions }}
        <a href="/submit">{{- .L.T "public.submitEntry" -}}</a>
      {{ end }}
      {{ if .Consts.EnableGlossary }}
          {{ range $d := .Dicts }}
            {{ $from := index $d 0}}
            {{ $to := index $d 1}}
            <a href="/glossary/{{ $from.ID }}/{{ $to.ID }}/*" class="tab">
              {{ $.L.Ts "public.glossary" "lang" $from.Name }}
            </a>
          {{ end }}
      {{ end }}
    </nav>
  </div>
  <footer class="footer">
    <a href="https://dict.press">Powered by dictpress</a>
  </footer>
  <script src="/static/main.js"></script>

  <form class="box form-comments" data-success="{{ .L.T "public.suggestSubmitted" }}">
  <div>
    <h4>{{ .L.T "public.submitTitle" }}</h4>
    <textarea name="comments" autofocus maxlength="500"></textarea>
    <p>
      <button type="submit">{{ .L.T "public.suggestSubmitBtn" }}</button>
      <button class="button-outline close">{{ .L.T "global.btnClose" }}</button>
    </p>
  </div>
  </form>
</body>

</html>
{{ end }}