<% if @query_param.present? %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
  <script>
    onReady(function() {
      var instance = new Mark("#entries-table");
      instance.mark("<%= @query_param %>");
    })
  </script>
<% end %>
